.well-known
.env
.git
docker-compose.override.yml
node_modules
/files
/tmp
vendor
/html/core
/html/modules/contrib
/html/themes/contrib
/html/profiles/contrib
/html/sites/*/files
/html/sites/*/private
