/.env
html/wp-content/uploads/
html/wp-content/blogs.dir/
html/wp-content/upgrade/
html/wp-content/backup-db/
html/wp-content/advanced-cache.php
whtmleb/wp-content/wp-cache-config.php
html/sitemap.xml
html/wp-content/cache/
html/wp-content/backups/
