# Pass Environment Variables
PassEnv APP_DEBUG
PassEnv MYSQL_DATABASE
PassEnv MYSQL_USER
PassEnv MYSQL_PASSWORD
PassEnv MYSQL_HOST
PassEnv WP_HOME
PassEnv WP_SITEURL
PassEnv AUTH_KEY
PassEnv SECURE_AUTH_KEY
PassEnv LOGGED_IN_KEY
PassEnv NONCE_KEY
PassEnv AUTH_SALT
PassEnv SECURE_AUTH_SALT
PassEnv LOGGED_IN_SALT
PassEnv NONCE_SALT
PassEnv SMTP_HOST
PassEnv SMTP_PORT
PassEnv SMTP_ENCRYPTION
PassEnv SMTP_USERNAME
PassEnv SMTP_PASSWORD

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress
